# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-doc-statement-publisher:
    build:
      target: development
    image: ffc-doc-statement-publisher-development
    container_name: ffc-doc-statement-publisher-test
    depends_on:
      - ffc-doc-statement-publisher-postgres
      - ffc-doc-statement-azurite
      - servicebus-emulator
    command: npm run test
    volumes:
      - ./app:/home/node/app
      - ./test:/home/node/test
      - ./test-output:/home/node/test-output
      - ./jest.config.js:/home/node/jest.config.js
      - ./package.json:/home/node/package.json
    environment:
      AZURE_STORAGE_CONNECTION_STRING: DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://ffc-doc-statement-azurite:10000/devstoreaccount1;
      NOTIFY_API_KEY: A_TEST_KEY
      NOTIFY_API_KEY_LETTER: A_TEST_KEY
      DELINKED_INTERVAL_NUMBER: 1
      DELINKED_INTERVAL_TYPE: months
      DELINKED_DAY_OF_MONTH: 15
      DELINKED_DURATION_NUMBER: 1
      DELINKED_DURATION_TYPE: months
      SFI_INTERVAL_NUMBER: 1
      SFI_INTERVAL_TYPE: months
      SFI_DAY_OF_MONTH: 15
      SFI_DURATION_NUMBER: 1
      SFI_DURATION_TYPE: months
      DELIVERY_CHECK_INTERVAL: 30000
      REPORTING_CHECK_INTERVAL: 30000
      RETENTION_PERIOD_IN_WEEKS: 78
      MESSAGE_QUEUE_HOST: servicebus-emulator
      MESSAGE_QUEUE_USER: RootManageSharedAccessKey
      MESSAGE_QUEUE_PASSWORD: SAS_KEY_VALUE
      PUBLISH_TOPIC_ADDRESS: ffc-pay-submit-test
      PUBLISH_SUBSCRIPTION_ADDRESS: ffc-pay-submission
      CRM_TOPIC_ADDRESS: ffc-pay-events-test
      ALERT_TOPIC_ADDRESS: ffc-pay-file-send-test
  ffc-doc-statement-publisher-postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  ffc-doc-statement-azurite:
    labels:
      com.docker.compose.pay.role: test

  sqledge:
    container_name: "sqledge"
    image: "mcr.microsoft.com/azure-sql-edge:latest"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "DummyStrongPa$$w0rd" # To be filled by user as per policy : https://learn.microsoft.com/en-us/sql/relational-databases/security/strong-passwords?view=sql-server-linux-ver16

  servicebus-emulator:
    container_name: "servicebus-emulator"
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    pull_policy: always
    volumes:
      - "./BusConfig.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"
    environment:
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "DummyStrongPa$$w0rd" # Password should be same as what is set for SQL Edge
      ACCEPT_EULA: "Y"
    depends_on:
      - sqledge

    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 5672"]
      interval: 5s
      timeout: 3s
      retries: 30

volumes:
  postgres_data:
