services:
  ffc-doc-statement-publisher:
    ports:
      - "3010:3010"
    build:
      context: .
      target: production
    image: ffc-doc-statement-publisher
    container_name: ffc-doc-statement-publisher
    depends_on:
      - ffc-doc-statement-azurite
      - ffc-doc-statement-publisher-postgres
    environment:
      APPINSIGHTS_CLOUDROLE: ffc-doc-statement-publisher-local
      MESSAGE_QUEUE_HOST: ${MESSAGE_QUEUE_HOST}
      MESSAGE_QUEUE_PASSWORD: ${MESSAGE_QUEUE_PASSWORD}
      MESSAGE_QUEUE_USER: ${MESSAGE_QUEUE_USER}
      PUBLISH_TOPIC_ADDRESS: ${PUBLISH_TOPIC_ADDRESS:-ffc-doc-statement-publish}${MESSAGE_QUEUE_SUFFIX}
      PUBLISH_SUBSCRIPTION_ADDRESS: ${PUBLISH_SUBSCRIPTION_ADDRESS:-ffc-doc-statement-publisher}${MESSAGE_QUEUE_SUFFIX}
      CRM_TOPIC_ADDRESS: ${CRM_TOPIC_ADDRESS:-ffc-doc-statement-crm}${MESSAGE_QUEUE_SUFFIX}
      POSTGRES_DB: ffc_doc_statement_publisher
      POSTGRES_HOST: ${POSTGRES_HOST:-ffc-doc-statement-publisher-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_SCHEMA_PASSWORD:-ppp}
      POSTGRES_PORT: 5432
      POSTGRES_SCHEMA_NAME: ${POSTGRES_SCHEMA_NAME:-public}
      POSTGRES_USERNAME: ${POSTGRES_SCHEMA_USERNAME:-postgres}
      AZURE_STORAGE_ACCOUNT_NAME: ${AZURE_STORAGE_ACCOUNT_NAME:-devstoreaccount1}
      AZURE_STORAGE_USE_CONNECTION_STRING: "true"
      NOTIFY_API_KEY: ${NOTIFY_API_KEY}
      NOTIFY_API_KEY_LETTER: ${NOTIFY_API_KEY_LETTER}
      STATEMENT_RECEIVER_API_VERSION: v1
      STATEMENT_RECEIVER_ENDPOINT: http://host.docker.internal:3022
      DELINKED_INTERVAL_NUMBER: ${DELINKED_INTERVAL_NUMBER}
      DELINKED_INTERVAL_TYPE: ${DELINKED_INTERVAL_TYPE}
      DELINKED_DAY_OF_MONTH: ${DELINKED_DAY_OF_MONTH}
      DELINKED_DURATION_NUMBER: ${DELINKED_DURATION_NUMBER}
      DELINKED_DURATION_TYPE: ${DELINKED_DURATION_TYPE}
      METRICS_POLLING_INTERVAL_MS: ${METRICS_POLLING_INTERVAL_MS:-86400000}
      SFI_INTERVAL_NUMBER: ${SFI_INTERVAL_NUMBER}
      SFI_INTERVAL_TYPE: ${SFI_INTERVAL_TYPE}
      SFI_DAY_OF_MONTH: ${SFI_DAY_OF_MONTH}
      SFI_DURATION_NUMBER: ${SFI_DURATION_NUMBER}
      SFI_DURATION_TYPE: ${SFI_DURATION_TYPE}
      DELIVERY_CHECK_INTERVAL: ${DELIVERY_CHECK_INTERVAL}
      REPORTING_CHECK_INTERVAL: ${REPORTING_CHECK_INTERVAL}
      RETENTION_PERIOD_IN_WEEKS: ${RETENTION_PERIOD_IN_WEEKS}
      SEND_CRM_FAILURE_MESSAGE_ENABLED: ${SEND_CRM_FAILURE_MESSAGE_ENABLED:-false}
      ALERT_TOPIC_ADDRESS: ${ALERT_TOPIC_ADDRESS:-ffc-doc-alerting}${MESSAGE_QUEUE_SUFFIX}
    networks:
      - default

  ffc-doc-statement-publisher-postgres:
    image: postgres:11.4-alpine
    environment:
      POSTGRES_DB: ffc_doc_statement_publisher
      POSTGRES_PASSWORD: ppp
      POSTGRES_USERNAME: postgres
    networks:
      - default

  ffc-doc-statement-azurite:
    image: mcr.microsoft.com/azure-storage/azurite:latest
    command: "azurite-blob --loose --blobHost 0.0.0.0 --skipApiVersionCheck"
    labels:
      com.docker.compose.pay.role: ffc-doc-statement-azurite
    networks:
      - default